<div *ngIf="comunidades!=null; else espera">
<div class="row m-5">
    <div class="col-2">
        <label for="comunidad" class="form-label">Comunidad:</label>
        <select id="comunidad" class="form-select" [(ngModel)]="comunidadSelected" (change)="onComunidadChange()">
            <option *ngFor="let comunidad of comunidades" [ngValue]="comunidad">
            {{comunidad.label}}
            </option>
        </select>
    </div>
    <div class="col-2" *ngIf="comunidadSelected" >
        <label for="pronvicia" class="form-label">Provincia:</label>
        <select id="provincia" class="form-select" [(ngModel)]="provinciaSelected" (change)="onProvinciaChange()">
            <option *ngFor="let pronvicia of comunidadSelected?.provinces" [ngValue]="pronvicia">
            {{pronvicia.label}}
            </option>
        </select>
    </div>
    <div class="col-2" *ngIf="provinciaSelected">
        <label for="localidad" class="form-label">Localidad:</label>
        <select id="localidad" class="form-select" [(ngModel)]="localidadSelected">
            <option *ngFor="let localidad of provinciaSelected?.towns">
            {{localidad.label}}
            </option>
        </select>
    </div>
</div>
</div>
  <ng-template #espera>Esperando datos...</ng-template>